
SECRET_KEY= # Secure, complex base64 secret key token used with KWT to generate encrypted tokens

#DB CREDENTIALS/CONFIG
DB_HOST= #db hostname
DB_PORT=5432
DB_USER= #db user with full permissions over DB used for this product (set by DB_NAME below)
DB_PASSWORD= # password for SQL user above
DB_NAME= # DB name for your instance

#SSO CONFIG
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=
X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=

#URLS FOR DOCKER
FRONTEND_BASE_URL= #Streamlit publically accessible IP:PORT
API_BASE_URL= #For example: http://api:80 if run within Docker env, else publically accessible IP:PORT

# EMAILING CONFIG
EMAIL_BACKEND= #set to smtp when ready to use email and not use the API server console logs for generated URL tokens
EMAIL_FROM= #your.test.address@example.com
SMTP_HOST=smtp.gmail.com #example for GMAIL
SMTP_PORT=587
SMTP_USERNAME= #your.test.address@example.com
SMTP_PASSWORD= #your-app-password
SMTP_USE_TLS=true #true or flase
SENDGRID_API_KEY= #your API key