# User defined excludes
*.user
.vscode/
*.workspace
*.code-workspace
*.png
aa_notes.txt
grafana_data/
postgres_data/
_private/
.devcontainer/
*.bat
.gitignore

# Directory metadata
.directory

# Temporary files
*~
*.swp
*.swo
*.bak
*.tmp

# Log files
*.log

# Build artifacts and directories
*.exe # For any host-side utilities compiled on Windows

# Python environment files
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/

# Virtual environment folders
venv/
.venv/
env/

# Language Servers
.ccls-cache/
compile_commands.json

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
